@font-face {
    font-family: Hacked;
    src: url('8693.ttf');
}


body {
    background-color: #000180;
    background-image: url('./bsod.png');
    background-size: cover;
    color: white;
    font-family: Hacked;
}

.fsociety {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

.who {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

hr {
    color: white;
    height: 10px;
    background-color: white;
}

#wrapper {
    display: block;
    margin: auto;
    width: 80%;
    height: 1600px;
    background-color: #2166FF;
}

.info {
    font-size: 25px;
    margin-left: 10px;
}

#wrapper h1 {
    color: white;
    opacity: 1;
}

.agent {
    display: block;
    margin: auto;
    width: 100%;
    height: 10%;
}

li p {
    margin-top: 5px;
}

footer {
    background-color: #000180;
}

a {
    color: red;
}

.container {
    background-color: #2166FF;
}

div {
   background-color: #2166FF;
}

.page-footer {
    background-color: #1400FF;
}
